@font-face {
    font-family: loubag;
    src: url(../../fonts/Loubag-Regular.ttf);
}
.copa-conteiner {
    margin: 15px;
    text-align: center;
}
.copa-conteiner img{
    border: double 7px #63766C;
    border-radius: 10px;
    padding: 2px;
}
.copa-conteiner p:nth-child(2),
.copa-conteiner p:nth-child(3){
    margin: 0;
    font-family: loubag;
    font-weight: bold;
    color: #3f4640;
    font-size: small;
}
.copa-conteiner p:nth-child(4){
    margin: 0;
    font-size: x-small;
    font-weight: normal;
    font-style: italic;
    font-weight: lighter;
    color: #3f4640;
    margin-bottom: 16px;
}
.copa-conteiner > a{
    font-weight: bold;
    font-family: montserrat;
    color: #E6E6E6;
    font-size: small;
    background-color: #3f4640;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}