@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: britanny;
    src: url(../../fonts/BrittanySignature.ttf);
}
.section-portada {
    height: 800px;
    width: 100%;
    background-image: url(../../img/fonto-portada2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    place-content: center;
    text-align: center;
}
.section-portada > p:nth-child(1){
    margin: 0;
    color: #3f4640;
    font-family: montserrat;
    font-size: 30px;
    font-weight: bold;
}
.section-portada > p:nth-child(2),
.section-portada > p:nth-child(3){
    margin:0;
    font-family: britanny;
    font-size: 80px;
    color: #3C5447;
}

.section-portada > p:nth-child(4){
    margin-top: 20px;
    text-align: center;
    font-family: montserrat;
    font-size: smaller;
    color:  #3f4640;
    font-weight: bold;
    font-style: italic;
}